<header class="small">
  <h1 class="header">
    <a href="/">leeo<span class="sep">.</span>la</a><span class="sep">/</span><span class="page">{{.frontmatter.PageName}}</span>
  </h1>

  <ul class="small-nav">
    <li><a href="/yvar"><span>about</span></a></li>
    <li><a href="/projects"><span>projects</span></a></li>
    <li><a href="/dotfiles"><span>dotfiles</span></a></li>
    <li><a href="/!code"><span>!code</span></a></li>
  </ul>
</header>
